<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
	<connectionStrings>
		<add name="MSTEntities" connectionString="metadata=res://*/DCMST.csdl|res://*/DCMST.ssdl|res://*/DCMST.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DBSERVER-LAN\SQL2008;initial catalog=PayPal_MST;persist security info=True;user id=sa;password=tribo@5506;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="PayPal.MST.Model.Properties.Settings.PayPal_MSTConnectionString"
		  connectionString="Data Source=DBSERVER-LAN\SQL2008;Initial Catalog=PayPal_MST;Persist Security Info=True;User ID=sa;Password=tribo@5506"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<!-- Dynamic Site -->
		<add key="Pages.Path" value="~/admin/pages/{0}.xml"/>
		<add key="Setup.Path" value="~/admin/pages/Setup.xml"/>
		<add key="CSName" value="PayPal.MST.Model.Properties.Settings.PayPal_MSTConnectionString"/>
		<add key="btnInsert.Path" value="~/admin/img/buttons/btnInsert.gif"/>
		<add key="btnUpdate.Path" value="~/admin/img/buttons/btnUpdate.gif"/>
		<add key="btnDelete.Path" value="~/admin/img/buttons/btnDelete.gif"/>
		<add key="btnNew.Path" value="~/admin/img/buttons/btnNew.gif"/>
		<add key="btnSelect.Path" value="~/admin/img/buttons/btnSelect.gif"/>
		<add key="PageList.Path" value="~/admin/pages"/>
		<add key="AjaxLoadImage.Path" value="~/admin/img/buttons/load.gif"/>
		<add key="btnExcelExport.Path" value="~/admin/img/buttons/btnExport.jpg"/>
		<add key="SaveFiles.PhisicalPath" value="C:\inetpub\wwwroot\PayPal\MST\PayPal.MST.Site"/>
		<add key="SaveFiles.HTTPPath" value="http://localhost:57071"/>
		<!--/ Dynamic Site -->

	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.0" />
		<customErrors mode="Off"/>

		<authentication mode="Forms">
		</authentication>

	</system.web>

</configuration>
